In [ ]:
""" 

DESCRIPTION

1. Evaluate MERRA2 snowfall data using SUMup dataset

"""

In [2]:
# Import modules
import xarray as xr
import numpy as np
import pandas as pd
import glob
import matplotlib.pyplot as plt

# Define path
path = '/Users/jryan4/Dropbox (University of Oregon)/research/snowfall/data/'

In [8]:
# Read SUMup data
sumup = pd.read_csv(path + 'sumup/SUMup_dataset_july2018_accumulation_on_land_ice.csv')

In [9]:
# Filter Greenland
sumup = sumup[sumup['lat'] > 0]

In [44]:
# Group by lat and lon
sumup.head()

,date,lat,lon,start_year,stop_year,year,accumulation,error,elevation,radar_horizontal_resolution,method,name,citation
25578,20100500,65.967102,-41.480701,1985.0,2010.0,2009.5,1.0976,-9999.0,1825.0,-9999,1,31,5
25579,20100500,65.967102,-41.480701,1985.0,2010.0,2008.5,1.1493,-9999.0,1825.0,-9999,1,31,5
25580,20100500,65.967102,-41.480701,1985.0,2010.0,2007.5,1.2415,-9999.0,1825.0,-9999,1,31,5
25581,20100500,65.967102,-41.480701,1985.0,2010.0,2006.5,0.8459,-9999.0,1825.0,-9999,1,31,5
25582,20100500,65.967102,-41.480701,1985.0,2010.0,2005.5,1.3371,-9999.0,1825.0,-9999,1,31,5

In [43]:
# Group by lat and lon
sumup['accumulation'][(sumup['lat'] == 65.967102) & (sumup['lon'] == -41.480701)]

25578    1.0976
25579    1.1493
25580    1.2415
25581    0.8459
25582    1.3371
25583    0.6516
25584    1.3846
25585    2.2574
25586    1.5388
25587    1.1815
25588    1.4292
25589    1.0768
25590    1.6791
25591    1.4315
25592    1.5209
25593    0.7948
25594    1.4241
25595    0.8601
25596    1.6233
25597    1.4836
25598    1.3515
25599    0.6590
25600    1.2006
25601    1.2380
25602    0.7577
Name: accumulation, dtype: float64